@import url('https://fonts.googleapis.com/css?family=Hind:400,500,700|Lato:400,700');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

html, body, div, span, p, blockquote, pre, a, img, small, strong, ul, li, tr, td, article, aside, footer, header, menu, nav, section {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
  }

 html, body{
    height: 100%;
    font-family: 'Hind', 'Lato', serif;
 }

 h1, h2, h3, h4{
    font-family: 'Hind', serif;
    font-weight: 700;
    color: #2e2e2e;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 100%;
    line-height: 1em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.6em;
}

p{
    font-size: 1em;
    font-family: 'Lato', serif;
    margin: 0.4em 0 1em 0;
}

a{
    font-family: 'Hind';
    font-weight: 500;
    text-decoration: none;
    color: #5a5a5a;
}

.--center{
    text-align: center;
}

.container{
    display: grid;
    height: 100%;
    margin: 0;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
    grid-template-rows: auto 3em 1fr auto;
    grid-template-areas:
        ". header header header header ."
        ". nav nav nav nav ."
        ". main main main aside ."
        "footer footer footer footer footer footer"
}

.pageContainer{
    padding: 2em;
}

header{
    grid-area: header;
    padding: 1em 0 1em 0;
    text-align: center;
}
 header div{
     display: inline;
 }

nav{
    grid-area: nav;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
}

nav a{
    color: #5a5a5a;
}

nav a:hover{
    color: #99B9FD;
    transition: 0.1s;
}

nav ul li{
    display: inline;
    list-style: none;
    padding: 0 2.4em 0 2.4em;
    line-height: 3em;
    text-transform: uppercase;
}

.current-menu-item a{
    color: #99B9FD;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

.socialMedia{
    text-align: center;
    margin-top: 2em;
}

.fab{
    color: #99B9FD;
    margin: 0.4em;
    font-size: 1.4em;
}

.fab:hover{
    color: #578DFF;
}

.aboutMe{
    grid-area: aboutMe;
    text-align: center;
}

.aboutMe > img{
    opacity: 0.9;
    border-radius: 50%;
    width: 160px;
    margin-top: 0.6em;
}

.widgettitle{
    font-size: 1.6em;
    color: #5a5a5a;
    font-size: 1em;
    border-bottom: 1px solid #8c8c8c;
}

.widget{
    list-style: none;
}

.widget_recent_entries{
    list-style: none;
    padding-top: 1.4em;
}

.widget_recent_entries li{
    list-style: none;
    padding-top: 0.4em;
}

.serif .post-message > p{
    font-family: 'Lato', serif, !important;
}

footer{
    grid-area: footer;
    background-color: lightslategray;
    text-align: center;
    color: #fff;
    padding: 1.2em;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 2.5em;
}

.card{
    border: 0.4px solid #F5F5F5;
    margin: 1.8em;
    padding: 1em 1em 0 1em;
}

.date{
    color: #5a5a5a;
}

.card img{
    width: 100%;
    height: auto;
}

.date > a{
    text-decoration: none;
    color: #5a5a5a;
    text-transform: uppercase;
}

.date > a:hover{
    color: #DADA34;    
}

.btn{
    display: block;
    width: 100%;
    border: none;
    background-color: #F5F5F5;
    padding: 10px 0px;
    margin: 10px 0px -16px 0px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #5a5a5a;
    transition: all 0.4s ease 0s;
}

.btn:hover{
    background-color: #DADA34;
    color: white;
}

.kontakt{
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1009px) {

    .container{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto 4em auto 1fr 1fr 4em;
        grid-template-areas:
            "header"
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }
    
    h1{
        font-size: 3.4em;
    }
    
    h2{
        font-size: 3.3em;
        margin-bottom: 0.2em;
    }
    
    h3{
        font-size: 3em;
    }

    p{
        font-size: 2.6em;
        margin-bottom: 0.2em;
    }

    h3#comments{
        font-size: 2em;
    }

    header{
        padding: 2.6em 0 1.4em 0;
    }
    
    header img{
        width: 36%;
    }
    
    nav{
        margin: 1.6em 0 0 0;
        border: 0px;
    }

    nav a{
        font-size: 3.2em;
    }

    nav ul li{
        display: block;
        list-style: none;
        padding: 0.4em;
    }

    .date{
        font-size: 2em;
    }

    .btn{
        padding: 20px 0px;
        margin: 10px 0px -22px 0px;
        font-size: 22px;
    }

    .comments{
        padding: 2em;
    }

    .fab{
        font-size: 3.2em;
    }

    .aboutMe > img{
        opacity: 0.8;
        border-radius: 50%;
        width: 240px;
    }

    .widget{
        padding: 1.2em 1em 1em 1em;
        border-bottom: 1px solid #8c8c8c;
        font-size: 2.4em;
    }

    footer{
        font-size: 1.2em;
        line-height: 1.2em;
    }
}

@media (min-width: 1010px) and (max-width: 1200px) {
    .container{
        grid-template-columns: minmax(17%, 1fr) 1fr 1fr 1fr 1fr minmax(17%, 1fr);
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .container{
        grid-template-columns: minmax(20%, 1fr) 1fr 1fr 1fr 1fr minmax(20%, 1fr);
    }
}

@media (min-width: 1400px) and (max-width: 1900px) {
    .container{
        grid-template-columns: minmax(26%, 1fr) 1fr 1fr 1fr 1fr minmax(26%, 1fr);
    }
}

@media (min-width: 1900px) {
    .container{
        grid-template-columns: minmax(32%, 1fr) 1fr 1fr 1fr 1fr minmax(32%, 1fr);
    }
}